.card-box{
    display: flex;
}
.lb{
    margin-top: 20pc;
    text-align: center;
}
.lb-2{
    margin-top: 20pc;
    text-align: center;
}
.lb-3{
    margin-top: 20pc;
    text-align: center;
}